.console , h1 {
	width:275px;
	margin:20px;
	float: left;
}

#score,span {
	font-size:14pt;
}

.control-console  {
	margin-bottom:40px;
	margin-left:20px;
	clear: left;
	height:50px;
}

#score {
	margin-top:20px;
}

#score,#reset-button {
	margin-left:95px;
}