.console {
	width: 200px;
	float: left;
}

.console , h1 {
	margin: 20px;
}

.control-console  {
	margin: 40px 20px;
	clear: left;
	height: 70px;
}

.control-console .menu {
	margin-top: 35px;
	margin-left: 95px;
}

#score, span {
	font-size: 14pt;
}